<figure class="testimonial row">
  <div class="col-12 mx-auto my-5">
    <div class="bg">
        <img
            [src]="testimonial[testimonialActualIndex].imageUrl"
            [alt]="testimonial[testimonialActualIndex].name"
            class="img-fluid position-relative img-user"
        >

        <!-- BUTTONS -->
        <div class="buttons rounded-pill">
            <span class="btn-left" (click)="prevTestimonial()">
                <img 
                    src="/assets/img/icons/icon-prev.svg"
                    alt="Button Left">
            </span>
            <span class="btn-left" (click)="nextTestimonial()">
                <img 
                    src="/assets/img/icons/icon-next.svg"
                    alt="Button Right">
            </span>
        </div>
    </div>
    
    <blockquote class="blockquote-testimonial text-center">
        {{ testimonial[testimonialActualIndex].testimonial}}
    </blockquote>
    
    <figcaption class="figcap">
        <p class="name m-0">{{ testimonial[testimonialActualIndex].name }}</p>
        <p class="skill m-0">{{ testimonial[testimonialActualIndex].skill }}</p>
    </figcaption>
  </div>
</figure>
